

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
{
    background-color: #E41B17;
}

.navbar-inverse .navbar-brand
{
    color: #E41B17;
}

.os
{
    color: #DDD;
    text-decoration: none;
    border: #E41B17 10px solid;
    padding: 5px 15px;
    border-radius: 10px;
    line-height: 2em;
    background: #E41B17;
    position: relative;
    bottom: 100px;
    right: 40px

}

#m1
{
    text-align: center;
    position: relative;
    bottom: 320px;
    font-size: 60px;
    color: #DDD
}

#m2
{
    position: relative;
    
}

#m4
{
    position: relative;
    
}

.m55
{
    background-image: url('19aa.jpg');
    
}

h1
{
    color: #DDD;
}


h2
{
    color: #DDD;
    line-height: 40px
}

#h100
{
    text-align: center;
    color: #000;
}





























